---
import SectionRenderer from '../components/SectionRenderer.astro';
import { homepageModules } from '../config/homepage';
---

<main class="home-page" id="top">
  {homepageModules.map((module) => <SectionRenderer module={module} />)}
</main>
