---
import Layout from '../layouts/Layout.astro';
import BookingSkeleton from '../components/BookingSkeleton.astro';
import CTA from '../components/CTA.astro';
---

<Layout title="Booking | Sound of Simone">
  <main class="home-page" id="top">
    <BookingSkeleton />
    <CTA />
  </main>
</Layout>
