---
import Layout from '../layouts/Layout.astro';
import AboutSimone from '../components/AboutSimone.astro';
---

<Layout title="Om | Sound of Simone">
  <main class="home-page" id="top">
    <AboutSimone />
  </main>
</Layout>
