---
import { LOGO_HOME_HREF } from '../config/site';
---

<header class="brand-bar" data-brand-bar>
  <div class="container brand-bar__inner">
    <a href={LOGO_HOME_HREF} class="brand-home-link" aria-label="Gå til forsiden">
      <img
        src="/images/logo-wordmark.png"
        alt="Sound of Simone"
        class="brand-logo"
        width="900"
        height="360"
        decoding="async"
        fetchpriority="high"
      />
    </a>
  </div>
</header>
