import BlogPost from '../../../layouts/BlogPost.astro';
---

<BlogPost title="Welcome to the Blog" date="2026-02-17">
  <h1>Welcome to the Blog</h1>
  <p>This is the first blog post.</p>
  <p>You can continue editing preview content through the DEV CMS, not on the production domain.</p>
</BlogPost>
