---
// Import global styles
import '../styles/design-tokens.css';
import '../styles/global.css';
import '../styles/utilities.css';
import '../styles/homepage.css';
import ScrollRevealScript from '../components/ScrollRevealScript.astro';
import GlobalBrandRail from '../components/GlobalBrandRail.astro';
import BottomPillMenu from '../components/BottomPillMenu.astro';
---

<!doctype html>
<html lang="no">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Six+Caps&display=swap" rel="stylesheet">
		<title>Sound of Simone - Fysioterapeut med fordypning i kvinnehelse</title>
	</head>
	<body>
		<GlobalBrandRail />
		<slot />
		<BottomPillMenu />
		<ScrollRevealScript />
	</body>
</html>
